.btn-create,
.form-create {
  margin-bottom: 10px;
}

.cover {
  position: relative;
}

.cover-img {
  height: 150px;
  overflow: hidden;
  transition: opacity 0.5s;
}

.cover-img img {
  width: 100%;
}

.cover-img.is-edit {
  opacity: 0.3;
}

.profile-img {
  border-radius: 50%;
  position: absolute;
  border: 5px solid #fff;

  width: 100px;
  height: 100px;
  left: 10px;
  bottom: 120px;
}

.profile-img img {
  border-radius: 50%;
  height: 100%;
  left: 0;
  position: absolute;
  top: 0;
  width: 100%;
}

.nav {
  justify-content: center;
  background: #fff;
}

.nav-first-item {
  flex: 1;
}

.edit-profile-btn {
  flex: 1;
  display: flex;
  justify-content: center;
}

.edit-profile-btn > * {
  align-self: center;
  margin-right: 5px;
}

.tab-content {
  margin: 0 auto;
  padding: 15px 10px;
  background: #fff;
  min-height: 250px;
}

.nav-pills .nav-link.active,
.nav-pills .show > .nav-link {
  border-bottom: 1px solid #007bff;
  background: none;
  color: #007bff;
}

.nav-pills .nav-link {
  border-radius: 0;
}

.row.content {
  margin: 0;
}

.m-info {
  padding: 30px 10px 10px 10px;
}

.info {
  display: none;
}

.change-cover-btn {
  position: absolute;
  z-index: 2;
  top: 50%;
  left: 50%;
}

@media (min-width: 768px) {
  .cover-img {
    height: 350px;
  }

  .profile-img {
    height: 200px;
    width: 200px;
    bottom: -20px;
    left: 100px;
  }

  .m-info {
    display: none;
  }

  .info {
    display: block;
  }
}
