<div class="user-page">

  <div class="cover">
    <div class="cover-img"></div>
    <div class="profile-img">
      <img src="{{userImg}}" />
    </div>
    <div class="m-info">
      <h5>{{currentUser.fullName}}</h5>
      <p>@{{currentUser.username}}</p>
    </div>
    <ul class="nav nav-pills mb-3 box-shadow" id="pills-tab" role="tablist">
      <li class="nav-item">
        <a class="nav-link active" id="pills-task-tab" data-toggle="pill" href="#pills-task" role="tab" aria-controls="pills-task"
          aria-selected="true">{{'SHARED.TASKS' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-story-tab" data-toggle="pill" href="#pills-story" role="tab" aria-controls="pills-story" aria-selected="false">
            {{'SHARED.STORIES' | translate}}</a>
      </li>
      <li class="nav-item">
        <a class="nav-link" id="pills-mentor-tab" data-toggle="pill" href="#pills-mentor" role="tab" aria-controls="pills-mentor"
          aria-selected="false">{{'SHARED.MENTORS' | translate}}</a>
      </li>
    </ul>
  </div>

  <div class="row content">
    <div class="offset-md-1 col-md-2 info">
      <h5>{{currentUser.fullName}}</h5>
      <p>@{{currentUser.username}}</p>
      <span [hidden]="!joinDate">
        <i class="fa fa-calendar"></i>{{'SHARED.JOINED' | translate}} {{joinDate}}
      </span>
    </div>
    <div class="col-md-6 tab-content" id="pills-tabContent">
      <div class="tab-pane fade show active" id="pills-task" role="tabpanel" aria-labelledby="pills-task-tab">
        <app-modal [modalTargetId]="'whyTaskModal'" [modalTitle]="'Why do you have tasks?'" [showFooter]="false">
          <a class="rp-modal-trigger pull-right" href="javascript:;" data-toggle="modal" data-target="#whyTaskModal">
              {{'SHARED.WHY' | translate}}?
          </a>
          <div class="rp-modal-content">
            <p>
                Just create simple tasks which are easy to do. Everyone can do it. 
                For example, my task is listening English 15 minutes a day. Or 20 minutes for workout.
                See. So easy to do. Please imagine that what happen to you if you read only 10 pages of a book for your
                workday. Over time. 
            </p>
            <p>
                You need one day, one week, one month, one year, ... You will be great achiever. 
                See out there, <b>all winners have discipline and commitment. You must commit yourself.</b>
            </p>
            <p>
              Please create your simple tasks. It's time to kick off your dream. Don't procrastinate any more.
            </p>
          </div>
        </app-modal>
        <button *ngIf="!showCreateInput" class="btn btn-primary btn-create" (click)="createTask()">{{'SHARED.CREATE'| translate}}</button>
        <form *ngIf="showCreateInput" class="form-create">
          <div class="form-group row">
            <div class="col-sm-12">
              <input class="form-control form-control-sm" type="text" [(ngModel)]="taskTitle" name="taskTitle" />
            </div>
          </div>
          <button class="btn btn-primary" (click)="saveTask()" [disabled]="!taskTitle">{{'SHARED.SAVE' | translate}}</button> or
          <a href="javascript:;" (click)="cancelTask()">{{'SHARED.CANCEL' | translate}}</a>
        </form>
        <app-task-list [items]="taskList" (clickDelete)="deleteTask($event)" [modifyMode]="modifyTaskList"></app-task-list>
      </div>
      <div class="tab-pane fade" id="pills-story" role="tabpanel" aria-labelledby="pills-story-tab">
        <button class="btn btn-primary" (click)="createStory()">{{'SHARED.CREATE' | translate}}</button>
        <app-story-list 
            [items]="storyList" 
            [currentUser]="currentUser"
            (viewStory)="viewStory($event)"
            (deleteStory)="deleteStory($event)"
            (editStory)="editStory($event)">
        </app-story-list>
      </div>
      <div class="tab-pane fade" id="pills-mentor" role="tabpanel" aria-labelledby="pills-mentor-tab">{{'SHARED.MENTORS' | translate}}</div>
    </div>
    <div class="col-md-3">
    </div>
  </div>


</div>