<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items">
    <div class="actions pull-right">
      <i class="fa fa-ellipsis-h hover-icon icon" data-toggle="dropdown"></i>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:;" (click)="edit(item)">{{'SHARED.EDIT'| translate}}</a>
        <a class="dropdown-item" href="javascript:;" (click)="delete(item)">{{'SHARED.DELETE'| translate}}</a>
      </div>
    </div>
    <div class="mentor-info">
      <div class="image">
        <img src="https://www.wonderplugin.com/videos/demo-image0.jpg" />
      </div>
      <div class="info">
        <h3>{{item.fullName}}</h3>
        <p>{{item.nationality}}</p>
        <p>{{item.language}}</p>
        <p>{{item.occupation}}</p>
        <p>{{item.works}}</p>
      </div>
    </div>
  </li>
</ul>