.mentor-info {
    display: flex;
}
  
.image img, .no-img {
  width: 200px;
  height: 200px;
  background: #eee;
  border-radius: 50%;
}
  
.mentor-info h3 {
  margin: 0
}
  
.info {
  padding-left: 20px;
}

.info p {
  margin: 0;
}

.info .occupation {
  font-style: italic;
}

.minor-info {
  margin-top: 10px;
}
  
.caption {
  color: gray;
}