<ul class="list-group">
  <li class="list-group-item" *ngFor="let item of items">
    <div class="actions pull-right">
      <i class="fa fa-ellipsis-h hover-icon icon" data-toggle="dropdown"></i>
      <div class="dropdown-menu dropdown-menu-right">
        <a class="dropdown-item" href="javascript:;" (click)="edit(item)">{{'SHARED.EDIT'| translate}}</a>
        <a class="dropdown-item" href="javascript:;" (click)="delete(item)">{{'SHARED.DELETE'| translate}}</a>
      </div>
    </div>
    <div class="mentor-info">
      <div class="image">
        <img *ngIf="item.imageUrl" [src]="item.imageUrl" alt="Mentor Image"/>
        <div class="no-img" *ngIf="!item.imageUrl"></div>        
      </div>
      <div class="info">
        <h3>{{item.fullName}}</h3>
        <span>{{item.occupation}}</span>
        <div class="minor-info">
          <p><span class="caption">Nationality: </span>{{item.nationality}}</p>
          <p><span class="caption">Language: </span>{{item.language}}</p>
          <p><span class="caption">Notable Works: </span>{{item.works}}</p>
        </div>        
      </div>      
    </div>
  </li>
</ul>