.list-group {
    margin-top: 30px;
}

.list-group-item {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.user-image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: inline-block;
}

.story-info {
    display: inline-block;
    vertical-align: middle;
}

.story-info p {
    margin: 0;
}

.story-heading {
    margin-bottom: 10px;
}

.story-title {
    cursor: pointer;
}

.actions .icon {
    padding: 10px;
}