<div class="container">
  <button class="btn btn-primary pull-right" (click)="publish()" [disabled]="!allowPublish">{{'SHARED.PUBLISH' | translate}}</button>
  <div class="clearfix"></div>
  <h3>{{'SHARED.TITLE' | translate}}</h3>
  <input class="form-control" type="text" name="storyTitle" [(ngModel)]="title" (input)="changeTitle()" placeholder="{{'SHARED.TITLE' | translate}}"
  />
  <h3 class="upload-title">{{'SHARED.UPLOADIMAGE' | translate}}</h3>
  <app-upload-image (changeFile)="changeFile($event)"></app-upload-image>
  <app-simple-tiny [elementId]="'my-editor-id'" (onEditorKeyup)="keyupHandlerFunction($event)">
  </app-simple-tiny>
  <app-spinner *ngIf="!done"></app-spinner>

</div>