<div class="container learn-more">
  <h2>Do the thing, and you will have the power</h2>
  <img class="article-img">
  <p>To find the path to success, you have to back up one more step. It's the understanding behind the 
    attitudes that are behind the actions.
  </p>
  <p>It's the philosophy. That's the missing ingredient, the secret ingredient. The first ingredient.</p>
  <p>Yes, you have to know the winning how-to actions, and you have to possess the winning attitudes-
    but what generates all that and keeps it all in place is your philosophy. Your philosophy is what you know,
    how you hold it, and how it affects what you do. How do you think about simple, everyday things.
  </p>
  <p>
    A positive philosophy turns into a positive attitude, which turns into positive actions, which turns into
    positive results, which turns into positive lifestyle. A positive life.
  </p>

</div>
