.login-wrapper {    
    width: 100%;
    padding: 20px;
}

.login-wrapper .fa {
    width: 16px;
    height: 16px;
}

.login-wrapper .submit {
    width: 100%;
}

@media (min-width: 768px){
    .login-wrapper {
        width: 400px;
        padding: 50px 0;
    }
}
