<ul class="list-group" [sortablejs]="items" [sortablejsOptions]="options">
  <li class="list-group-item" *ngFor="let item of items; let i = index">
    <div class="actions pull-right">
        <i class="fa fa-ellipsis-h hover-icon icon" data-toggle="dropdown"></i>      
        <div class="dropdown-menu dropdown-menu-right">
            <a class="dropdown-item" href="javascript:;" (click)="delete(item)">{{'SHARED.DELETE'| translate}}</a>
        </div>
    </div>        
    <h5 class="task-title" (click)="complete(item)" [ngClass]="{'text-success': item.isDone}">
        <i class="fa fa-arrows-v sort-icon hover-icon"></i>
        <span>{{ i + 1}}. {{ item.title}}</span>
    </h5>
  </li> 
</ul>
