html {
    min-height: 100%;
    position: relative;
}

body {
    margin: 0;
    padding: 0;
    background-color: #fff;
    margin-bottom: 100px;
}

footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    height: 60px;
    line-height: 60px;
    border-top: 1px solid rgba(0,0,0,.08);
}

.hover-icon {
    cursor: pointer;
    -webbkit-opacity: 0.4;
    -o-opacity: 0.4;
    -ms-opacity: 0.4;
    opacity: 0.4;
    -webkit-transition: opacity 0.4s;
    -o-transition: opacity 0.4s;
    -moz-transition: opacity 0.4s;
    -ms-transition: opacity 0.4s;
    transition: opacity 0.4s;
    color: #000;
}
.hover-icon.disabled {
    -webbkit-opacity: 0.4 !important;
    -o-opacity: 0.4 !important;
    -ms-opacity: 0.4 !important;
    opacity: 0.4 !important; 
}
.hover-icon.hover-icon:hover {
    -webbkit-opacity: 1;
    -o-opacity: 1;
    -ms-opacity: 1;
    opacity: 1; 
}
.hover-icon.active {
    opacity: 1; 
}

.box-shadow {
    box-shadow: 0 1px 3px 0 rgba(0,0,0,0.25);
}

hr.section-divider {
    margin-top: 52px;
    margin-bottom: 42px;
    display: block;
    border: 0;
    text-align: center;
    overflow: visible;
}

hr.section-divider:before {
    font-weight: 400;
    font-style: italic;
    font-size: 30px;
    letter-spacing: .6em;

    content: '...';
    display: inline-block;
    margin-left: .6em;
    color: rgba(0,0,0,.68);
    position: relative;
    top: -30px;
}

.user-story .user-image {
    width: 36px;
    height: 36px;
    border-radius: 100%;
    display: inline-block;
}

.user-story .story-info {
    display: inline-block;
    vertical-align: middle;
}

.user-story .story-info p {
    margin: 0;
}

.user-story {
    margin-bottom: 10px;
}

.list-group-item {
    background: #fff;
    -webkit-box-shadow: 0 1px 4px rgba(0,0,0,.04);
    box-shadow: 0 1px 4px rgba(0,0,0,.04);
    border: 1px solid rgba(0,0,0,.09);
    -webkit-border-radius: 3px;
    border-radius: 3px;
    margin-bottom: 20px;
}

.actions .icon {
    padding: 5px;
}

.story-card {
    border-radius: 2px;
    border: 1px solid rgba(0,0,0,.1);
    background-color: #fff;
    height: 260px;
    margin-bottom: 20px;
}

.story-card .user-story {
    margin-top: 10px;
}

.story-card .story-title {
    height: 50px;
    overflow: hidden;
    cursor: pointer;
}

.story-card .story-wrapper {
    padding: 16px;
    height: 160px;
}

.story-card .story-image {
    height: 100px;
    width: 100%;
    background-image: url('./assets/story.jpg');
    background-size: contain;
}

.story-card .story-content {
    height: 20px;
    overflow: hidden;
}