.container {
    margin-top: 20px;
}

.btn-create, .form-create {
    margin-bottom: 10px;
}

.img-intro {
    height: 300px;
    margin-top: 10px;
    
    background-image: url("../../assets/homepage.jpg");
    background-position: top center;
    background-repeat: no-repeat;
    background-size: contain;
}

.story-list {
    margin-top: 20px;
}