<header>
  <nav class="navbar navbar-light bg-light justify-content-between">
    <a href="#" class="navbar-brand">TPD</a>
    <div>
      <a class="text-secondary" href="login">Sign in</a>
      <span class="text-muted">or</span>
      <a class="text-secondary" href="sign-up">Sign up</a>
    </div>
  </nav>
</header>
<main class="container">
  <h2>The Personal Developement</h2>
  <hr/>
  <p>Why is it that some people live the life they’ve always dreamed of, while others watch from the sidelines as their own dreams gather dust? Is it luck, or an elusive quality that only some people are born with? Neither. Everything you need to live your own dream is contained between the pages of a simple book.</p>
  <p>Do the thing. You will have the power.</p>

  <h5>Your simple tasks today</h5>
  <hr/>
</main>
<footer>
  
</footer>