<main class="container">
  <div class="row">
    <div class="col-md-6">
      <h2>As you live your days, so you LIVE YOUR LIFE</h2>
      <p>Why do you take reasonable care of <b>Ripple</b>? How's it important to our destiny?</p>
      <p>
        I truly believe that most of us always want to attain everything as fast as possible. 
        We want instant success. We look forward to achieving instant life. To be honest, we want to get big things done. But we want it immediately.
      </p>
      <p>
        It's absolutely wrong. Life is experiences. It was a long, slow, at times painful roller-coaster process.
        Success is not kind of things done overnight. It takes so long time.
      </p>
      <p>
        We make <b>Ripple</b> for you to follow your dream every single day. It's so simple. Just a simple tool, you can see it anywhere. 
        Yet simplicity is powerful. So you have to commit yourself. You have to kick off your own discipline.
      </p>
      <p>
        <b>It's never too late to become person you want to be. Do it right now.</b>
      </p>
      <a class="btn btn-primary" href="#/sign-up">{{'SHARED.SIGNUP' | translate}}</a>
      <a class="btn btn-outline-secondary" href="#/learn-more">{{'SHARED.LEARNMORE' | translate}}</a>
    </div>
    <div class="col-md-6 img-intro">
    </div>
  </div>

  <div class="s-divider"></div>  
  <div class="s-header">
    <span class="s-title">
      <a>{{'HOME.ALLSTORIES' | translate}}</a>
    </span>
  </div>
  <div class="story-list row">
    <div class="col-md-4" *ngFor="let story of storyList">
      <div class="story-card">
        <img (click)="viewStory(story)" *ngIf="!story.imageUrl" class="story-image-de" />
        <div (click)="viewStory(story)" *ngIf="story.imageUrl" class="story-image-re">
          <img [src]="story.imageUrl" />          
        </div>
        <div class="story-wrapper">
          <h5 class="story-title" (click)="viewStory(story)">{{story.title}}</h5>
          <div class="story-content" [innerHTML]="story.content"></div>
          <div class="user-story">
            <img class="user-image" *ngIf="story.userImg" [src]="story.userImg" />
            <div class="story-info">
              <p class="text-primary">{{story.fullName}}</p>
              <span class="text-secondary">{{story.dateDisplay}}</span>
            </div>
          </div>
        </div>
      </div>
    </div>

  </div>  
</main>