<div class="container">
  <button class="btn btn-primary pull-right" (click)="update()" [disabled]="!allowUpdate">{{'SHARED.UPDATE' | translate}}</button>    
  <div class="clearfix"></div>
  <h3>{{'SHARED.TITLE' | translate}}</h3>
  <input class="form-control" type="text" name="storyTitle" [(ngModel)]="title" (input)="changeTitle()" placeholder="{{'SHARED.TITLE' | translate}}" />  
  <app-simple-tiny
    [elementId]="'my-editor-id'"
    [content]="selectedStory?.content"
    (onEditorKeyup)="keyupHandlerFunction($event)">
  </app-simple-tiny>
  <app-spinner *ngIf="!done"></app-spinner>
</div>

