<div class="container learn-more">
  <h2>Do the thing, and you will have the power</h2>
  <hr class="section-divider">

  <p>To find the path to success, you have to back up one more step. It's the understanding behind the 
    attitudes that are behind the actions.
  </p>
  <p>It's the philosophy. That's the missing ingredient, the secret ingredient. The first ingredient.</p>
  <p>Yes, you have to know the winning how-to actions, and you have to possess the winning attitudes-
    but what generates all that and keeps it all in place is your philosophy. Your philosophy is what you know,
    how you hold it, and how it affects what you do. How do you think about simple, everyday things.
  </p>
  <p>
    A positive philosophy turns into a positive attitude, which turns into positive actions, which turns into
    positive results, which turns into positive lifestyle. A positive life.
  </p>

  <div class="more-info">
    <div class="s-divider"></div>      
    <div class="s-header">
      <span class="s-title">
        <a>We have to stop procrastinating</a>
      </span>
    </div>
    <p class="text">
      And it's all because of what I've learned about beating FEAR, conquering PROCRASTINATION and doing impossible things.
    </p>
    <p>Your payoff and your rewards and your GROWTH and your MASTERY and your SUCCESS lies when you go to the places that scares
      you, when you do difficult things, when you take the difficult projects on, when you read the difficult books, when
      you run longer than you've ever run, when you try new things that STRETCH you. THAT IS HOW YOU GET MORE WILLPOWER.
    </p>

    <div class="s-divider"></div>
    <div class="s-header">
      <span class="s-title">
        <a>Master your day, design your life</a>
      </span>
    </div>
    <p class="text">
      Do anything LONG ENOUGH and you will get depth of INSIGHT and UNDERSTANNDING about it. They'll call you a GURU.
    </p>
    <p>
      For the next 90 days, spend the FIRST 90 minutes of your workday on SIGNLE most game-changing opportunity, move the NEEDLE
      in your insdustry.
    </p>

    <div class="s-divider"></div>
    <div class="s-header">
      <span class="s-title">
        <a>Discovery your destiny</a>
      </span>
    </div>
    <p class="text">
      Be so KNOWLEDGEABLE, COMPETENT and BRILLIANT at what yo do, that firm can not run WITHOUT you. Become INDISPENSABLE.
    </p>
    <p>
      Each day, life will send you little windows of OPPORTUNITY. Your DESTINY will ultimately be defined by how you respond to
      these windows of opportunity. SHRINK from them and your life will be small.
    </p>
  </div>
</div>
